.Game {
  /* background-color: #3f51b5cc; */
  padding: 20px;
  border-radius: 4px;
  webkit-box-shadow: 0 16px 24px 2px rgb(0 0 0 / 14%),
    0 6px 30px 5px rgb(0 0 0 / 12%), 0 8px 10px -7px rgb(0 0 0 / 20%);
  box-shadow: 0 16px 24px 2px rgb(0 0 0 / 14%), 0 6px 30px 5px rgb(0 0 0 / 12%),
    0 8px 10px -7px rgb(0 0 0 / 20%);
  position: relative;
  text-align: center;
  margin: 20px auto;
}

h2 {
  /* background-color: rgba(0, 0, 0, 0.3); */
  padding: 8px;
  border-radius: 4px;
  margin: 0 0 40px;
}

.Game input.answerInput {
  background: #fff;
  color: #000;
  /* outline-color: #9999ff; */
  border-radius: 4px;
  font-size: 24px;
  width: 300px;
  padding: 12px 20px;
  margin-top: 10px;
}
@media only screen and (max-width: 400px) {
  .Game input.answerInput {
    width: 160px;
  }
}
.Game input.answerInput:focus {
  outline-width: 1px;
  outline-style: auto;
  outline-color: #9999ff;
}
h3.randomWord {
  font-weight: 500;
  letter-spacing: 2px;
}
@media only screen and (max-width: 600px) {
  h3.randomWord {
    letter-spacing: 0.5px;
    font-size: 2.3rem;
  }
}

.TimeContainer {
  position: absolute;
  top: 60px;
  left: 20px;
  font-size: 16px;
}

.ScoreContainer {
  position: absolute;
  top: 60px;
  right: 20px;
  font-size: 16px;
}
